body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608 auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}

#gameWindow {
    width: 800px;
    height: 608px;
    background-color: #479107;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    width: 180px;
    height: 80px;
    background-color: #000;
    top: 10px;
    left: 10px;
    color: white;
}

#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;
    background-color: #b6b6b6;
}

#heroAvatar {
    width: 100px;
    height: 100px;
    background-color: #00ff00;
    bottom: 0;
}

#heroSpeech {
    left: 64px;
    width: 300px;
    background-color: #727272;
}

#CounterAvatar {
    width: 100px;
    height: 100px;
    background-color: #4a0a5a;
    right: 0px;
    bottom: 0px;
}

#CounterSpeech {
    right: 64px;
    width: 300px;
    background-color: #727272;
}

#squareTree {
    top: 250px;
    left: 400px;
    width: 64px;
    height: 64px;
    background-color: #0b5e0b;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#mushroom {
    width: 64px;
    height: 64px;
    background-color: red;
    left: 690px;
    top: 430px;

}

#key {
    top: 250px;
    left: 200px;
    width: 16px;
    height: 32px;
    background-color: #dde542;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#Hero {
    top: 100px;
    left: 100px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transition: all 1s ease-in-out;

}

#tileMap {}

.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 100;

}

.foreground {
    position: absolute;
    z-index: 1000;
}